* {
    margin: 0;
    padding: 0;
    }

/* navbar */
nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.navbar-list {
    float: left;
}

.navbar-list a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.active {
    background-color: #83c5be;
}

/* About Me */
.text-align {
    text-align: center;
}

.pic-profile {
    width: 200px;
    height: 200px;
    display: block;
    margin: 16px auto;
}

.about-box {
    width: 40%;
    margin: 0 auto;
}

.about-box p {
    text-indent: 2.5em;
}

/* skill */
.skill-box {
    width: 10%;
    margin: 0 auto;
}

.skill-box p {
    text-align: left;
}

/* contact */
.contact-box {
    width: 50%;
    margin: 0 auto;
}

.contact-box li {
    text-align: left;
    list-style-type: none;
}

/* search section */
.search-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 12px;
    padding: 10px;
    border: 1px solid #83c5be;
    border-radius: 10px;
}

.banner {
    display: flex;
    align-items: center;
}

.banner h1 {
    margin-left: 10px;
}